In [416]:
import requests
import pandas as pd
import numpy as np

In [ ]:
#The first dataset is the raw data provided FPL and made available by the official FPL API

In [4]:
#Getting FPL Data
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
#Use the requests package to make a GET request from the API endpoint:
r = requests.get(url)

In [5]:
json = r.json()
#Looking at the json keys, and then we’ll create our dataframe(s)
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [6]:
#Create Dataframes from the keys need
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [7]:
#Player stats
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [8]:
#player names
elements_types_df.columns

Index(['id', 'plural_name', 'plural_name_short', 'singular_name',
       'singular_name_short', 'squad_select', 'squad_min_play',
       'squad_max_play', 'ui_shirt_specific', 'sub_positions_locked',
       'element_count'],
      dtype='object')

In [9]:
#team details
teams_df.columns

Index(['code', 'draw', 'form', 'id', 'loss', 'name', 'played', 'points',
       'position', 'short_name', 'strength', 'team_division', 'unavailable',
       'win', 'strength_overall_home', 'strength_overall_away',
       'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away', 'pulse_id'],
      dtype='object')

In [10]:
#made a copy of the elements_df just taking the columns I thought will be usefull.
fpl_data = elements_df[['id','first_name','second_name','form','team','now_cost','minutes','value_season','total_points','event_points','bonus','goals_scored','assists','goals_conceded','own_goals','clean_sheets','saves','yellow_cards','red_cards','value_form','points_per_game','selected_by_percent','element_type','photo']]

In [11]:
teams_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1200,1270,1160,1230,1160,1240,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1090,1100,1110,1110,1070,1090,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1050,1070,1070,1110,1040,1070,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1100,1150,1100,1150,1140,1170,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1140,1140,1170,1160,1150,1170,131

In [12]:
elements_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,25.0,25.0,58822,0,0,-3,3,0,2,-0.1,...,417,169,488,197,NaN,,NaN,,NaN,
1,NaN,NaN,84450,0,0,1,-1,1,3,4.8,...,54,36,26,19,NaN,,3.0,,NaN,
2,0.0,0.0,153256,0,0,-2,2,1,3,0.0,...,436,164,381,167,NaN,,NaN,,NaN,
3,NaN,NaN,156074,0,0,-3,3,0,2,-0.5,...,419,171,401,152,NaN,,NaN,,NaN,
4,100.0,75.0,167199,0,0,-2,2,1,3,3.8,...,140,83,127,75,NaN,,NaN,,NaN,

In [13]:
elements_types_df.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],66
1,2,Defenders,DEF,Defender,DEF,5,3,5,False,[],228
2,3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],273
3,4,Forwards,FWD,Forward,FWD,3,1,3,False,[],71

In [14]:
#map the player position name from the elements_type_df to the fpl_data df
#Mapped the element_type column from the fpl_data data frame to singular_name of the elements_types_df
fpl_data['position'] = fpl_data.element_type.map(elements_types_df.set_index('id').singular_name)
fpl_data.head()

<ipython-input-14-ecd4289a2665>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpl_data['position'] = fpl_data.element_type.map(elements_types_df.set_index('id').singular_name)

,id,first_name,second_name,form,team,now_cost,minutes,value_season,total_points,event_points,...,clean_sheets,saves,yellow_cards,red_cards,value_form,points_per_game,selected_by_percent,element_type,photo,position
0,1,Cédric,Alves Soares,0.0,1,42,0,0.0,0,0,...,0,0,0,0,0.0,0.0,0.1,2,58822.jpg,Defender
1,3,Granit,Xhaka,5.3,1,51,717,7.8,40,9,...,3,0,2,0,1.0,5.0,3.2,3,84450.jpg,Midfielder
2,4,Mohamed,Elneny,0.0,1,43,90,0.5,2,0,...,0,0,0,0,0.0,2.0,0.7,3,153256.jpg,Midfielder
3,5,Rob,Holding,0.0,1,42,3,0.5,2,0,...,0,0,0,0,0.0,1.0,0.1,2,156074.jpg,Defender
4,6,Thomas,Partey,4.3,1,48,419,4.4,21,10,...,3,0,0,0,0.9,4.2,0.3,3,167199.jpg,Midfielder

In [15]:
#Add the team name. We can do that by mapping “name” from our teams_df:
fpl_data['team'] = fpl_data.team.map(teams_df.set_index('id').name)
#fpl_data['table_position'] = fpl_data.team.map(teams_df.set_index('id').position)
fpl_data.head()

<ipython-input-15-fa82948b4d8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpl_data['team'] = fpl_data.team.map(teams_df.set_index('id').name)

,id,first_name,second_name,form,team,now_cost,minutes,value_season,total_points,event_points,...,clean_sheets,saves,yellow_cards,red_cards,value_form,points_per_game,selected_by_percent,element_type,photo,position
0,1,Cédric,Alves Soares,0.0,Arsenal,42,0,0.0,0,0,...,0,0,0,0,0.0,0.0,0.1,2,58822.jpg,Defender
1,3,Granit,Xhaka,5.3,Arsenal,51,717,7.8,40,9,...,3,0,2,0,1.0,5.0,3.2,3,84450.jpg,Midfielder
2,4,Mohamed,Elneny,0.0,Arsenal,43,90,0.5,2,0,...,0,0,0,0,0.0,2.0,0.7,3,153256.jpg,Midfielder
3,5,Rob,Holding,0.0,Arsenal,42,3,0.5,2,0,...,0,0,0,0,0.0,1.0,0.1,2,156074.jpg,Defender
4,6,Thomas,Partey,4.3,Arsenal,48,419,4.4,21,10,...,3,0,0,0,0.9,4.2,0.3,3,167199.jpg,Midfielder

In [16]:
fpl_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   638 non-null    int64
 1   first_name           638 non-null    object
 2   second_name          638 non-null    object
 3   form                 638 non-null    object
 4   team                 638 non-null    object
 5   now_cost             638 non-null    int64
 6   minutes              638 non-null    int64
 7   value_season         638 non-null    object
 8   total_points         638 non-null    int64
 9   event_points         638 non-null    int64
 10  bonus                638 non-null    int64
 11  goals_scored         638 non-null    int64
 12  assists              638 non-null    int64
 13  goals_conceded       638 non-null    int64
 14  own_goals            638 non-null    int64
 15  clean_sheets         638 non-null    int64
 16  saves                638 non-null    int64
 17  yellow_cards         638 non-null    int64
 18  red_cards            638 non-null    int64
 19  value_form           638 non-null    object
 20  points_per_game      638 non-null    object
 21  selected_by_percent  638 non-null    object
 22  element_type         638 non-null    int64
 23  photo                638 non-null    object
 24  position             638 non-null    object
dtypes: int64(15), object(10)
memory usage: 124.7+ KB

In [17]:
#Concatinating the first name and second name columns
fpl_data['name'] = fpl_data['first_name']+' '+fpl_data['second_name']

<ipython-input-17-ade2ec688d09>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpl_data['name'] = fpl_data['first_name']+' '+fpl_data['second_name']

In [18]:
#The value_season column which represents the now_cost/total_points has a data type object 
#This should be a float
#Converting it to float data type
fpl_data['value_season'] = fpl_data.value_season.astype(float)

<ipython-input-18-ddb3b04653dc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpl_data['value_season'] = fpl_data.value_season.astype(float)

In [19]:
fpl_data.head()

,id,first_name,second_name,form,team,now_cost,minutes,value_season,total_points,event_points,...,saves,yellow_cards,red_cards,value_form,points_per_game,selected_by_percent,element_type,photo,position,name
0,1,Cédric,Alves Soares,0.0,Arsenal,42,0,0.0,0,0,...,0,0,0,0.0,0.0,0.1,2,58822.jpg,Defender,Cédric Alves Soares
1,3,Granit,Xhaka,5.3,Arsenal,51,717,7.8,40,9,...,0,2,0,1.0,5.0,3.2,3,84450.jpg,Midfielder,Granit Xhaka
2,4,Mohamed,Elneny,0.0,Arsenal,43,90,0.5,2,0,...,0,0,0,0.0,2.0,0.7,3,153256.jpg,Midfielder,Mohamed Elneny
3,5,Rob,Holding,0.0,Arsenal,42,3,0.5,2,0,...,0,0,0,0.0,1.0,0.1,2,156074.jpg,Defender,Rob Holding
4,6,Thomas,Partey,4.3,Arsenal,48,419,4.4,21,10,...,0,0,0,0.9,4.2,0.3,3,167199.jpg,Midfielder,Thomas Partey

In [20]:
#The now_cost column doesn't display the decimal as shown on the FPL site and makes the player price look higher
#Dividing now_cost by 10 to get the actual prices of players 
#We create a column called price
fpl_data['price']= fpl_data['now_cost']/10

<ipython-input-20-e8d340075c24>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpl_data['price']= fpl_data['now_cost']/10

In [21]:
fpl_data.head()

,id,first_name,second_name,form,team,now_cost,minutes,value_season,total_points,event_points,...,yellow_cards,red_cards,value_form,points_per_game,selected_by_percent,element_type,photo,position,name,price
0,1,Cédric,Alves Soares,0.0,Arsenal,42,0,0.0,0,0,...,0,0,0.0,0.0,0.1,2,58822.jpg,Defender,Cédric Alves Soares,4.2
1,3,Granit,Xhaka,5.3,Arsenal,51,717,7.8,40,9,...,2,0,1.0,5.0,3.2,3,84450.jpg,Midfielder,Granit Xhaka,5.1
2,4,Mohamed,Elneny,0.0,Arsenal,43,90,0.5,2,0,...,0,0,0.0,2.0,0.7,3,153256.jpg,Midfielder,Mohamed Elneny,4.3
3,5,Rob,Holding,0.0,Arsenal,42,3,0.5,2,0,...,0,0,0.0,1.0,0.1,2,156074.jpg,Defender,Rob Holding,4.2
4,6,Thomas,Partey,4.3,Arsenal,48,419,4.4,21,10,...,0,0,0.9,4.2,0.3,3,167199.jpg,Midfielder,Thomas Partey,4.8

In [22]:
#Creating a new column called ppmillion(i.e points per million) that contains rows from the value_season column as float datatype
#The value_season is derived by total_points/price. this Gives a view of the return on investment for each player per season
fpl_data['pp_million'] = fpl_data.value_season.astype(float)
fpl_data.head()

<ipython-input-22-f2ed9b40273b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpl_data['pp_million'] = fpl_data.value_season.astype(float)

,id,first_name,second_name,form,team,now_cost,minutes,value_season,total_points,event_points,...,red_cards,value_form,points_per_game,selected_by_percent,element_type,photo,position,name,price,pp_million
0,1,Cédric,Alves Soares,0.0,Arsenal,42,0,0.0,0,0,...,0,0.0,0.0,0.1,2,58822.jpg,Defender,Cédric Alves Soares,4.2,0.0
1,3,Granit,Xhaka,5.3,Arsenal,51,717,7.8,40,9,...,0,1.0,5.0,3.2,3,84450.jpg,Midfielder,Granit Xhaka,5.1,7.8
2,4,Mohamed,Elneny,0.0,Arsenal,43,90,0.5,2,0,...,0,0.0,2.0,0.7,3,153256.jpg,Midfielder,Mohamed Elneny,4.3,0.5
3,5,Rob,Holding,0.0,Arsenal,42,3,0.5,2,0,...,0,0.0,1.0,0.1,2,156074.jpg,Defender,Rob Holding,4.2,0.5
4,6,Thomas,Partey,4.3,Arsenal,48,419,4.4,21,10,...,0,0.9,4.2,0.3,3,167199.jpg,Midfielder,Thomas Partey,4.8,4.4

In [23]:
#Another metric I would like to look at is the points per million per 90 mins. To adjust for the minutes played this season
fpl_data['pp_mil_per_90'] = (fpl_data['pp_million']/fpl_data['minutes'])*90
fpl_data.head()

<ipython-input-23-e83993a8d446>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpl_data['pp_mil_per_90'] = (fpl_data['pp_million']/fpl_data['minutes'])*90

,id,first_name,second_name,form,team,now_cost,minutes,value_season,total_points,event_points,...,value_form,points_per_game,selected_by_percent,element_type,photo,position,name,price,pp_million,pp_mil_per_90
0,1,Cédric,Alves Soares,0.0,Arsenal,42,0,0.0,0,0,...,0.0,0.0,0.1,2,58822.jpg,Defender,Cédric Alves Soares,4.2,0.0,NaN
1,3,Granit,Xhaka,5.3,Arsenal,51,717,7.8,40,9,...,1.0,5.0,3.2,3,84450.jpg,Midfielder,Granit Xhaka,5.1,7.8,0.979079
2,4,Mohamed,Elneny,0.0,Arsenal,43,90,0.5,2,0,...,0.0,2.0,0.7,3,153256.jpg,Midfielder,Mohamed Elneny,4.3,0.5,0.500000
3,5,Rob,Holding,0.0,Arsenal,42,3,0.5,2,0,...,0.0,1.0,0.1,2,156074.jpg,Defender,Rob Holding,4.2,0.5,15.000000
4,6,Thomas,Partey,4.3,Arsenal,48,419,4.4,21,10,...,0.9,4.2,0.3,3,167199.jpg,Midfielder,Thomas Partey,4.8,4.4,0.945107

In [24]:
#Converting the point_per_game to float
fpl_data['points_per_game'] = fpl_data.points_per_game.astype(float)

<ipython-input-24-e9fbd9c32ec8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpl_data['points_per_game'] = fpl_data.points_per_game.astype(float)

In [26]:
#Renaming even_points column to gw_points(i.e lates gameweek points)
fpl_data['gw_points'] = fpl_data['event_points']

<ipython-input-26-f05145e7c9c4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fpl_data['gw_points'] = fpl_data['event_points']

In [27]:
#Dropping the columns we don't need anymore
fpl_data=fpl_data.drop(['value_season','first_name','now_cost','event_points'], axis = 1)

In [28]:
fpl_data.head()

,id,second_name,form,team,minutes,total_points,bonus,goals_scored,assists,goals_conceded,...,points_per_game,selected_by_percent,element_type,photo,position,name,price,pp_million,pp_mil_per_90,gw_points
0,1,Alves Soares,0.0,Arsenal,0,0,0,0,0,0,...,0.0,0.1,2,58822.jpg,Defender,Cédric Alves Soares,4.2,0.0,NaN,0
1,3,Xhaka,5.3,Arsenal,717,40,4,2,3,8,...,5.0,3.2,3,84450.jpg,Midfielder,Granit Xhaka,5.1,7.8,0.979079,9
2,4,Elneny,0.0,Arsenal,90,2,0,0,0,1,...,2.0,0.7,3,153256.jpg,Midfielder,Mohamed Elneny,4.3,0.5,0.500000,0
3,5,Holding,0.0,Arsenal,3,2,0,0,0,0,...,1.0,0.1,2,156074.jpg,Defender,Rob Holding,4.2,0.5,15.000000,0
4,6,Partey,4.3,Arsenal,419,21,3,1,0,3,...,4.2,0.3,3,167199.jpg,Midfielder,Thomas Partey,4.8,4.4,0.945107,10

In [29]:
fpl_data.columns

Index(['id', 'second_name', 'form', 'team', 'minutes', 'total_points', 'bonus',
       'goals_scored', 'assists', 'goals_conceded', 'own_goals',
       'clean_sheets', 'saves', 'yellow_cards', 'red_cards', 'value_form',
       'points_per_game', 'selected_by_percent', 'element_type', 'photo',
       'position', 'name', 'price', 'pp_million', 'pp_mil_per_90',
       'gw_points'],
      dtype='object')

In [30]:
#Rearranging the columns 
fpl_data=fpl_data[['id','name','position','form','team','price', 'pp_million','pp_mil_per_90','total_points', 'gw_points','minutes',
       'bonus', 'goals_scored', 'assists', 'goals_conceded', 'own_goals',
       'clean_sheets', 'saves', 'yellow_cards', 'red_cards', 'value_form','points_per_game','selected_by_percent',
       'element_type' ]]

In [31]:
fpl_data.tail()

,id,name,position,form,team,price,pp_million,pp_mil_per_90,total_points,gw_points,...,goals_conceded,own_goals,clean_sheets,saves,yellow_cards,red_cards,value_form,points_per_game,selected_by_percent,element_type
633,579,Gonçalo Manuel Ganchinho Guedes,Midfielder,1.0,Wolves,6.0,2.7,0.553531,16,1,...,6,0,2,0,1,0,0.2,2.3,0.4,3
634,589,Matheus Luiz Nunes,Midfielder,4.0,Wolves,5.0,3.8,0.675889,19,2,...,7,0,2,0,1,0,0.8,3.2,0.3,3
635,608,Sasa Kalajdzic,Forward,0.3,Wolves,5.4,0.2,0.400000,1,0,...,0,0,0,0,0,0,0.1,1.0,0.0,4
636,625,Diego Da Silva Costa,Forward,0.5,Wolves,5.5,0.2,0.562500,1,1,...,0,0,0,0,0,0,0.1,1.0,0.3,4
637,629,Boubacar Traoré,Midfielder,1.0,Wolves,4.5,0.4,0.972973,2,1,...,0,0,0,0,0,0,0.2,1.0,0.0,3

In [32]:
#Checking for missing values
fpl_data.isnull().mean()*100

id                      0.0000
name                    0.0000
position                0.0000
form                    0.0000
team                    0.0000
price                   0.0000
pp_million              0.0000
pp_mil_per_90          33.0721
total_points            0.0000
gw_points               0.0000
minutes                 0.0000
bonus                   0.0000
goals_scored            0.0000
assists                 0.0000
goals_conceded          0.0000
own_goals               0.0000
clean_sheets            0.0000
saves                   0.0000
yellow_cards            0.0000
red_cards               0.0000
value_form              0.0000
points_per_game         0.0000
selected_by_percent     0.0000
element_type            0.0000
dtype: float64

In [33]:
#The pp_mil_per_90 column has some NaN values
fpl_data[fpl_data['pp_mil_per_90'].isna()]

,id,name,position,form,team,price,pp_million,pp_mil_per_90,total_points,gw_points,...,goals_conceded,own_goals,clean_sheets,saves,yellow_cards,red_cards,value_form,points_per_game,selected_by_percent,element_type
0,1,Cédric Alves Soares,Defender,0.0,Arsenal,4.2,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,0.1,2
7,9,Nicolas Pépé,Midfielder,0.0,Arsenal,5.3,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,0.1,3
15,17,Nuno Varela Tavares,Defender,0.0,Arsenal,4.5,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2
18,20,Pablo Marí Villar,Defender,0.0,Arsenal,4.5,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2
19,22,Lucas Torreira di Pascua,Midfielder,0.0,Arsenal,4.5,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,0.1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,494,Yerson Mosquera Valdelamar,Defender,0.0,Wolves,3.9,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,1.1,2
628,557,Jackson Smith,Goalkeeper,0.0,Wolves,4.0,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,0.8,1
629,558,Hugo Bueno López,Defender,0.0,Wolves,4.0,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,0.7,2
630,566,Joseph Hodge,Midfielder,0.0,Wolves,4.4,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,0.1,3
631,567,Connor Ronan,Midfielder,0.0,Wolves,4.4,0.0,NaN,0,0,...,0,0,0,0,0,0,0.0,0.0,0.2,3

In [34]:
#We see that the NaN values are for players with 0 minutes this season
fpl_data[fpl_data['pp_mil_per_90'].isna()][['name','total_points','gw_points','minutes','pp_mil_per_90']]

,name,total_points,gw_points,minutes,pp_mil_per_90
0,Cédric Alves Soares,0,0,0,NaN
7,Nicolas Pépé,0,0,0,NaN
15,Nuno Varela Tavares,0,0,0,NaN
18,Pablo Marí Villar,0,0,0,NaN
19,Lucas Torreira di Pascua,0,0,0,NaN
...,...,...,...,...,...
625,Yerson Mosquera Valdelamar,0,0,0,NaN
628,Jackson Smith,0,0,0,NaN
629,Hugo Bueno López,0,0,0,NaN
630,Joseph Hodge,0,0,0,NaN
631,Connor Ronan,0,0,0,NaN

In [35]:
#Replacing the NaN values with zero
fpl_data['pp_mil_per_90']=fpl_data['pp_mil_per_90'].fillna(0)

In [36]:
fpl_data.head()

,id,name,position,form,team,price,pp_million,pp_mil_per_90,total_points,gw_points,...,goals_conceded,own_goals,clean_sheets,saves,yellow_cards,red_cards,value_form,points_per_game,selected_by_percent,element_type
0,1,Cédric Alves Soares,Defender,0.0,Arsenal,4.2,0.0,0.000000,0,0,...,0,0,0,0,0,0,0.0,0.0,0.1,2
1,3,Granit Xhaka,Midfielder,5.3,Arsenal,5.1,7.8,0.979079,40,9,...,8,0,3,0,2,0,1.0,5.0,3.2,3
2,4,Mohamed Elneny,Midfielder,0.0,Arsenal,4.3,0.5,0.500000,2,0,...,1,0,0,0,0,0,0.0,2.0,0.7,3
3,5,Rob Holding,Defender,0.0,Arsenal,4.2,0.5,15.000000,2,0,...,0,0,0,0,0,0,0.0,1.0,0.1,2
4,6,Thomas Partey,Midfielder,4.3,Arsenal,4.8,4.4,0.945107,21,10,...,3,0,3,0,0,0,0.9,4.2,0.3,3

In [37]:
#No Missing value
fpl_data.isna().mean()*100

id                     0.0
name                   0.0
position               0.0
form                   0.0
team                   0.0
price                  0.0
pp_million             0.0
pp_mil_per_90          0.0
total_points           0.0
gw_points              0.0
minutes                0.0
bonus                  0.0
goals_scored           0.0
assists                0.0
goals_conceded         0.0
own_goals              0.0
clean_sheets           0.0
saves                  0.0
yellow_cards           0.0
red_cards              0.0
value_form             0.0
points_per_game        0.0
selected_by_percent    0.0
element_type           0.0
dtype: float64

In [54]:
#Drop Name Column as we would use the names provided by FPL review
fpl_data=fpl_data.drop(['name'], axis=1)

In [ ]:
#The next dataset are generated by probalistic models to give expected points(xPts) and expected minutes(xMins) per gameweek
#This data is made available for free on https://thefplkiwi.github.io/webpage/
#Different xPs and xMs datasets for fpl are generated and published by different sources

In [296]:
#csv url for the dataset with Expected points(xPts) and Expected minutes(xMins)
fpl_kiwi_url = 'https://raw.githubusercontent.com/theFPLkiwi/webpage/main/data/Projected_FPL_2223.csv'

In [297]:
#Read data to pandas
fpl_kiwi_df=pd.read_csv(fpl_kiwi_url)

In [321]:
#Preview the dataset
fpl_kiwi_df.head()

,ID,Name,Pos,Price,Team,xPts GW9-38,xPts +2 per sub,xPts +2 per sub with 0.84 decay,GW xMins,9,...,29.4,30.4,31.4,32.4,33.4,34.4,35.4,36.4,37.4,38.4
0,376,Pope,GK,5.2,NEW,124.628586,125.132436,25.881650,NaN,87.8,...,0.000164,0.000159,0.000143,0.000144,0.000158,0.000220,0.000143,0.000198,0.000207,0.000100
1,31,E Martinez,GK,4.9,AVL,114.533014,115.036864,24.235536,NaN,87.8,...,0.000020,0.000043,0.000030,0.000031,0.000041,0.000026,0.000028,0.000028,0.000018,0.000032
2,281,Alisson,GK,5.4,LIV,133.475193,134.212796,26.514535,NaN,87.4,...,0.000475,0.000830,0.001150,0.001270,0.000833,0.000837,0.001150,0.000973,0.001030,0.001030
3,81,Raya,GK,4.5,BRE,109.730703,110.234553,23.498251,NaN,87.8,...,0.000032,0.000037,0.000035,0.000044,0.000025,0.000054,0.000023,0.000044,0.000029,0.000025
4,478,Sa,GK,5.0,WOL,112.995359,113.499209,23.320093,NaN,87.8,...,0.000040,0.000028,0.000045,0.000038,0.000037,0.000030,0.000040,0.000030,0.000044,0.000026

In [322]:
fpl_kiwi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Columns: 163 entries, ID to 38.4
dtypes: float64(159), int64(1), object(3)
memory usage: 700.5+ KB

In [323]:
#Print out all 163 columns
for x in (fpl_kiwi_df.columns):
    print(x)

ID
Name
Pos
Price
Team
xPts GW9-38
xPts +2 per sub
xPts +2 per sub with 0.84 decay
GW xMins
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
xPts if play
9.1
10.1
11.1
12.1
13.1
14.1
15.1
16.1
17.1
18.1
19.1
20.1
21.1
22.1
23.1
24.1
25.1
26.1
27.1
28.1
29.1
30.1
31.1
32.1
33.1
34.1
35.1
36.1
37.1
38.1
Probability to play
9.2
10.2
11.2
12.2
13.2
14.2
15.2
16.2
17.2
18.2
19.2
20.2
21.2
22.2
23.2
24.2
25.2
26.2
27.2
28.2
29.2
30.2
31.2
32.2
33.2
34.2
35.2
36.2
37.2
38.2
xPts
9.3
10.3
11.3
12.3
13.3
14.3
15.3
16.3
17.3
18.3
19.3
20.3
21.3
22.3
23.3
24.3
25.3
26.3
27.3
28.3
29.3
30.3
31.3
32.3
33.3
34.3
35.3
36.3
37.3
38.3
npG
9.4
10.4
11.4
12.4
13.4
14.4
15.4
16.4
17.4
18.4
19.4
20.4
21.4
22.4
23.4
24.4
25.4
26.4
27.4
28.4
29.4
30.4
31.4
32.4
33.4
34.4
35.4
36.4
37.4
38.4

In [ ]:
#The columns needed are the player IDs, names, numbered columns from the latest gameweek to gw 38 representing expected mins
#Columns with GW + 0.3 represent the expected mins e.g: columns 38.3 represent the xPts for gw 38.

In [343]:
#Create a list of the column names to get the latest GW
cols_lst = fpl_kiwi_df.columns
#The latest GW is the column at the 10th column index
latest_gw = int(cols_lst[9])
#Getting the xP and xMins for multiple gws allows us to plan for multiple gws ahead
#I plan based on projected xP & xMins for just 5 gws since the projected pts are measured against the actual & updated after every gw
#No of gws can be increased to the full 38 gws if desired
no_gws = latest_gw + 5 #i.e current gw + next 4gws + 1 to get the range of the next 5 gws

In [379]:
#Create a dataframe with just the columns need. List comprehension is used to get the columns from the latest to final GW
fpl_kiwi_df = fpl_kiwi_df[['ID','Name']+[str(xMins) for xMins in range(latest_gw,no_gws)]+[str(xPts + 0.3) for xPts in range(latest_gw,no_gws)]]

In [381]:
fpl_kiwi_df.head()

,ID,Name,9,10,11,12,13,9.3,10.3,11.3,12.3,13.3
0,376,Pope,87.8,87.809048,87.809048,87.809048,87.809048,4.332948,4.353907,3.421343,4.668905,3.086712
1,31,E Martinez,87.8,87.809048,87.809048,87.809048,87.809048,4.004733,4.437547,3.401126,4.015246,4.063436
2,281,Alisson,87.4,87.428571,87.428571,87.428571,87.428571,4.437471,3.622169,3.114662,4.339602,4.708788
3,81,Raya,87.8,87.809048,87.809048,87.809048,87.809048,4.398938,3.539875,3.853401,3.183095,3.640950
4,478,Sa,87.8,87.809048,87.809048,87.809048,87.809048,3.561633,2.944404,4.608172,3.923490,3.847723

In [373]:
#Renaming the columns properly to avoid confusion
#Create a dictionary of the column names and the names to replaced
#use dictionary comprehension to create a dictionary of the xMins columns
xMins= {str(n): n for n in range(latest_gw,no_gws)}

In [374]:
#Update the dict values with the names to replace the columns with
for mins in xMins:
    xMins[mins] = str(xMins[mins]) +'_xMins'

In [375]:
xMins

{'9': '9_xMins',
 '10': '10_xMins',
 '11': '11_xMins',
 '12': '12_xMins',
 '13': '13_xMins'}

In [376]:
#use dictionary comprehension to create a dictionary of the xPts columns
xPts= {str(n+0.3): n for n in range(latest_gw,no_gws)}

In [377]:
#Update the dict values with the names to replace the columns with
for pts in xPts:
    xPts[pts] = str(xPts[pts]) +'_xPts'

In [378]:
xPts

{'9.3': '9_xPts',
 '10.3': '10_xPts',
 '11.3': '11_xPts',
 '12.3': '12_xPts',
 '13.3': '13_xPts'}

In [384]:
#replace ID with id to be used to merge with the fpl data
id_dict = {"ID": "id"}

In [385]:
#Concatenate the dictionaries
column_dict = {**id_dict,**xMins,**xPts}

In [386]:
#Replace the column names with the names in the column_dict
fpl_Xpts_df = fpl_kiwi_df.rename(columns=column_dict)

In [387]:
fpl_Xpts_df.head()

,id,Name,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,9_xPts,10_xPts,11_xPts,12_xPts,13_xPts
0,376,Pope,87.8,87.809048,87.809048,87.809048,87.809048,4.332948,4.353907,3.421343,4.668905,3.086712
1,31,E Martinez,87.8,87.809048,87.809048,87.809048,87.809048,4.004733,4.437547,3.401126,4.015246,4.063436
2,281,Alisson,87.4,87.428571,87.428571,87.428571,87.428571,4.437471,3.622169,3.114662,4.339602,4.708788
3,81,Raya,87.8,87.809048,87.809048,87.809048,87.809048,4.398938,3.539875,3.853401,3.183095,3.640950
4,478,Sa,87.8,87.809048,87.809048,87.809048,87.809048,3.561633,2.944404,4.608172,3.923490,3.847723

In [389]:
#Round the xMins and xPts to 2 decimal points
fpl_Xpts_df=fpl_Xpts_df.round(2)

In [390]:
fpl_Xpts_df.head()

,id,Name,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,9_xPts,10_xPts,11_xPts,12_xPts,13_xPts
0,376,Pope,87.8,87.81,87.81,87.81,87.81,4.33,4.35,3.42,4.67,3.09
1,31,E Martinez,87.8,87.81,87.81,87.81,87.81,4.00,4.44,3.40,4.02,4.06
2,281,Alisson,87.4,87.43,87.43,87.43,87.43,4.44,3.62,3.11,4.34,4.71
3,81,Raya,87.8,87.81,87.81,87.81,87.81,4.40,3.54,3.85,3.18,3.64
4,478,Sa,87.8,87.81,87.81,87.81,87.81,3.56,2.94,4.61,3.92,3.85

In [391]:
#Verify the data types
fpl_Xpts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        550 non-null    int64
 1   Name      550 non-null    object
 2   9_xMins   550 non-null    float64
 3   10_xMins  550 non-null    float64
 4   11_xMins  550 non-null    float64
 5   12_xMins  550 non-null    float64
 6   13_xMins  550 non-null    float64
 7   9_xPts    550 non-null    float64
 8   10_xPts   550 non-null    float64
 9   11_xPts   550 non-null    float64
 10  12_xPts   550 non-null    float64
 11  13_xPts   550 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 51.7+ KB

In [393]:
#Check for missing values
fpl_Xpts_df.isna().mean()*100

id          0.0
Name        0.0
9_xMins     0.0
10_xMins    0.0
11_xMins    0.0
12_xMins    0.0
13_xMins    0.0
9_xPts      0.0
10_xPts     0.0
11_xPts     0.0
12_xPts     0.0
13_xPts     0.0
dtype: float64

In [394]:
#No missing values

In [399]:
fpl_Xpts_df.columns[2]

'9_xMins'

In [402]:
#Get total expected Mins for the next 5 GWS
fpl_Xpts_df['total_xM']= fpl_Xpts_df[(fpl_Xpts_df.columns[2])] + fpl_Xpts_df[(fpl_Xpts_df.columns[3])] + fpl_Xpts_df[(fpl_Xpts_df.columns[4])] + fpl_Xpts_df[(fpl_Xpts_df.columns[5])] + fpl_Xpts_df[(fpl_Xpts_df.columns[6])]
fpl_Xpts_df.head()

,id,Name,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,9_xPts,10_xPts,11_xPts,12_xPts,13_xPts,total_xP,total_xM
0,376,Pope,87.8,87.81,87.81,87.81,87.81,4.33,4.35,3.42,4.67,3.09,272.44,439.04
1,31,E Martinez,87.8,87.81,87.81,87.81,87.81,4.00,4.44,3.40,4.02,4.06,271.88,439.04
2,281,Alisson,87.4,87.43,87.43,87.43,87.43,4.44,3.62,3.11,4.34,4.71,270.22,437.12
3,81,Raya,87.8,87.81,87.81,87.81,87.81,4.40,3.54,3.85,3.18,3.64,270.14,439.04
4,478,Sa,87.8,87.81,87.81,87.81,87.81,3.56,2.94,4.61,3.92,3.85,270.28,439.04

In [407]:
#Get total expected Pts for the next 5 GWS
fpl_Xpts_df['total_xP']= fpl_Xpts_df[(fpl_Xpts_df.columns[7])] + fpl_Xpts_df[(fpl_Xpts_df.columns[8])] + fpl_Xpts_df[(fpl_Xpts_df.columns[9])] + fpl_Xpts_df[(fpl_Xpts_df.columns[10])] + fpl_Xpts_df[(fpl_Xpts_df.columns[11])]
fpl_Xpts_df.head()

,id,Name,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,9_xPts,10_xPts,11_xPts,12_xPts,13_xPts,total_xP,total_xM
0,376,Pope,87.8,87.81,87.81,87.81,87.81,4.33,4.35,3.42,4.67,3.09,19.86,439.04
1,31,E Martinez,87.8,87.81,87.81,87.81,87.81,4.00,4.44,3.40,4.02,4.06,19.92,439.04
2,281,Alisson,87.4,87.43,87.43,87.43,87.43,4.44,3.62,3.11,4.34,4.71,20.22,437.12
3,81,Raya,87.8,87.81,87.81,87.81,87.81,4.40,3.54,3.85,3.18,3.64,18.61,439.04
4,478,Sa,87.8,87.81,87.81,87.81,87.81,3.56,2.94,4.61,3.92,3.85,18.88,439.04

In [408]:
fpl_Xpts_df.sort_values('id').tail(10)

,id,Name,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,9_xPts,10_xPts,11_xPts,12_xPts,13_xPts,total_xP,total_xM
254,622,Larios,11.84,11.84,11.84,11.84,11.84,0.50,0.23,0.45,0.49,0.40,2.07,59.20
172,623,Caleta-Car,35.53,35.53,35.53,35.53,35.53,1.42,0.51,1.24,1.35,1.07,5.59,177.65
477,624,Edozie,15.63,15.63,14.37,11.84,9.21,0.92,0.79,0.84,0.72,0.53,3.80,66.68
516,625,Costa,40.83,53.79,58.36,37.79,31.97,1.89,2.08,3.37,1.79,1.87,11.00,222.74
31,626,Karius,2.03,2.03,1.84,1.20,1.01,0.09,0.09,0.06,0.06,0.03,0.33,8.11
54,627,Jakupovic,0.18,0.18,0.18,0.18,0.18,0.01,0.01,0.00,0.01,0.01,0.04,0.90
195,628,Aurier,16.58,16.58,16.58,16.58,16.58,0.67,0.83,0.76,0.70,0.58,3.54,82.90
475,629,Boubacar Traore,9.21,9.21,9.21,11.84,13.50,0.51,0.49,0.58,0.66,0.77,3.01,52.97
423,630,Nwaneri,0.38,0.39,0.39,0.00,0.39,0.03,0.03,0.04,0.00,0.04,0.14,1.55
240,631,Sousa,0.38,0.39,0.39,0.00,0.39,0.03,0.03,0.04,0.00,0.04,0.14,1.55

In [409]:
fpl_data.head()

,id,position,form,team,price,pp_million,pp_mil_per_90,total_points,gw_points,minutes,...,goals_conceded,own_goals,clean_sheets,saves,yellow_cards,red_cards,value_form,points_per_game,selected_by_percent,element_type
0,1,Defender,0.0,Arsenal,4.2,0.0,0.000000,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.1,2
1,3,Midfielder,5.3,Arsenal,5.1,7.8,0.979079,40,9,717,...,8,0,3,0,2,0,1.0,5.0,3.2,3
2,4,Midfielder,0.0,Arsenal,4.3,0.5,0.500000,2,0,90,...,1,0,0,0,0,0,0.0,2.0,0.7,3
3,5,Defender,0.0,Arsenal,4.2,0.5,15.000000,2,0,3,...,0,0,0,0,0,0,0.0,1.0,0.1,2
4,6,Midfielder,4.3,Arsenal,4.8,4.4,0.945107,21,10,419,...,3,0,3,0,0,0,0.9,4.2,0.3,3

In [410]:
#Merging both data sets on the id column
fpl_final = pd.merge(fpl_data, fpl_Xpts_df, on=["id"])

In [411]:
fpl_final.head()

,id,position,form,team,price,pp_million,pp_mil_per_90,total_points,gw_points,minutes,...,11_xMins,12_xMins,13_xMins,9_xPts,10_xPts,11_xPts,12_xPts,13_xPts,total_xP,total_xM
0,1,Defender,0.0,Arsenal,4.2,0.0,0.000000,0,0,0,...,1.32,0.0,2.84,0.26,0.12,0.09,0.0,0.18,0.65,10.88
1,3,Midfielder,5.3,Arsenal,5.1,7.8,0.979079,40,9,717,...,84.55,0.0,84.55,2.57,2.44,2.91,0.0,2.85,10.77,335.66
2,4,Midfielder,0.0,Arsenal,4.3,0.5,0.500000,2,0,90,...,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
3,5,Defender,0.0,Arsenal,4.2,0.5,15.000000,2,0,3,...,3.16,0.0,3.16,0.27,0.27,0.28,0.0,0.29,1.11,12.54
4,6,Midfielder,4.3,Arsenal,4.8,4.4,0.945107,21,10,419,...,82.14,0.0,82.14,2.26,2.14,3.14,0.0,3.05,10.59,297.25

In [415]:
#Save DF to csv
fpl_final.to_csv('fpl_final.csv',index=False)